__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
.ipynb_checkpoints/
.vscode/
.idea/
Thumbs.db
desktop.ini
.DS_Store
*.log
*.sqlite
*.db
hs_err_pid*.log
replay_pid*.log
*.bin
*.pt
*.pth
*.onnx
